.result-card-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 30;
  .pailie-0 {
    position: absolute;
    left: 5vw;
    top: 5vw;
  }
  .pailie-1 {
    position: absolute;
    left: 15vw;
    top: 20vw;
  }
  .pailie-2 {
    position: absolute;
    left: 25vw;
    top: 40vw;
  }
}